
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoAutorizado</title>
</head>
<body>
    <div> 
        No tienes permiso para acceder aca
        <a href="@Url.Action("Login","Acceso")">Volver</a>
    </div>
</body>
</html>
